<html>
  <head>
    <title>Vue Tut</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div class="nav-bar">
      <div id="app">
        <div class="product">
          <div class="product-image">
            <img v-bind:src="image" />
          </div>
          <div class="product-info">
            <h1>{{ product }}</h1>
            <p v-if="onSale">On Sale</p>
            <p>{{ description }}</p>
            <a v-bind:href="myurl">GitHub</a>
            <p v-if="inventory > 10">In Stock</p>
            <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out</p>
            <p v-else>Out of stock</p>
            <!-- v-show is a better performance option to show/hide elements-->
            <p v-show="inStock">{{ inventory }}</p>
            <p>Details:</p>
            <ul>
                <li v-for="detailEntry in details">{{detailEntry}}</li>
            </ul>
            <p>Sizes:</p>
            <ul>
                <li v-for="size in sizeAvail">{{ size }}</li>
            </ul>
            <div v-for="variantEntry in variants" v-bind:key="variantEntry.variantID">
                <p>{{ variantEntry.variantColor }}</p>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
